.episode-card img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    padding: 20px;
}

.episode-card p {
    font-size: 14px;
    word-break: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.episode-card {
    height: auto;
    min-height: 400px;
    width: 340px;
    background: #FFFFFF;
    margin: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.title-container {
    text-align: center;
    padding: 10px;
    border-color: #dbdbdb;
    border-bottom: solid;
    border-width: 1px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.episode-code {
    font-size: 16px;
    font-weight: 600;
}

.image-container {
    text-align: center;
}
