.searchbar-container {
    background-color: #e2e2e2;
    padding: 20px 40px;
}

.searchbar-container select {
    height: 31px;
}

.searchbar-container input {
    height: 25px;
    width: 400px;
    padding-left: 5px;
}

.result-info {
    color: #696969;
    font-size: 14px;
    padding-left: 10px;
}